

<div class="container mt-3">
    <form class="row g-3" (ngSubmit)="onCreate()" novalidated #f="ngForm">
        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre del Proyecto</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="col-md-6">
          <label for="fecha" class="form-label">Fecha de Realizacion</label>
          <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha" required>
        </div>
        <div class="col-md-6">
            <label for="desc" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="desc" required>
          </div>
          <div class="col-md-6">
            <label for="enlace" class="form-label">Enlace del Proyecto</label>
            <input type="text" class="form-control" id="enlace" name="enlace" [(ngModel)]="enlace" required>
          </div>
        <div class="col-md-9">
          <label for="imagen" class="form-label">Imagen Demostrativa</label>
          <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="imagen" required>
        </div>
        <div class="col-md-3">
          <label for="vista-previa" class="form-label" style="color: transparent;">-</label>
          <!--<input type="text" class="form-control" id="vista-previa">-->
          <!--<button class="btn btn-primary form-control">Vista Previa</button>-->
          
          <!--Modal casero-->
          <a class="boton form-control" href="agr-proyecto#open-modal">Ver Foto</a>
          <div id="open-modal" class="modal-window">
            <div>
              <a href="agr-proyecto" title="Close" class="modal-close">Close</a>
              <h1>Vista Previa</h1>
              <div><img src="{{imagen}}" alt="imagen-demostrativa" width="300" style="margin-left: 5%;"></div>
            </div>
          </div>
          <!--Fin del modal casero-->

        </div>
        <div class="col-6 mt-5">
          <button type="submit" class="btn btn-success form-control" [disabled]="!f.valid">Guardar</button>
        </div>
        <div class="col-6 mt-5">
            <button type="submit" class="btn btn-secondary form-control" (click)="volver()">Cancelar</button>
          </div>
      </form>
</div>