<div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="https://i.imgur.com/GyA0vVy.png" alt="Logo Argentina Programa"
                    width="50"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home#about-me">Acerca de mi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home#estudios">Estudios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home#tecnologias">Tecnologias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home#proyectos">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="home#experiencias">Experiencia</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <button class="btn btn-outline-light" type="button" (click)="onLogOut()">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>