#estudios {
    background-color: rgb(65, 132, 177);
}

#tecnologias {
    background-color: rgb(65, 132, 177);
}

#experiencias {
    background-color: rgb(65, 132, 177);
}

#proyectos {
    background-color: rgb(65, 132, 177);
}